nav {
  background-color: #104547;
}

.sidenav {
  width: 12.5rem;
}

.recipe-card {
  padding: 0.5rem 2rem;
}

.btn-floating.halfway-fab {
  background-color: #AF929D
}

.btn-floating {
  background-color: #AF929D
}

.card-url {
  color: #3B252C;
  margin-bottom: 5rem;
}

.card-content {
  background-color: #D2D6EF;
}

.card .card-action {
  background-color: #D2D6EF;
}

.chips, .chips.focus {
  border-bottom: 2px solid #AF929D;
  border-right: none;
  color: black;
  box-shadow: none;
}

.modal-header {
  padding-bottom: 3rem;
}

.ingredients-header, .instructions-header {
  padding: 2rem 0 1rem 0;
  font-size: 18px;
  font-weight: bold;
}

/* form input styling */

/* text inputs */
textarea.materialize-textarea,
textarea.materialize-textarea:not(.broswer-default),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #AF929D;
  border-right: none;
  color: black;
  box-shadow: none;
}

textarea.materialize-textarea:focus:not(.broswer-default)+label {
  border-right: none;
  color: #AF929D;
  box-shadow: none;
}

/* dropdown inputs */
.dropdown-content li>a,
.dropdown-content li>a:not(.broswer-default),
.dropdown-content li>a:focus:not([readonly]),
.dropdown-content li>span,
.dropdown-content li>span:not([readonly]),
.dropdown-content li>span:focus:not([readonly]) {
  color: black;
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
  color: black;
  border-bottom: 2px solid #AF929D;
}

/* submit button */
.btn, .btn:hover {
  background-color: #AF929D;
}
