nav {
  background-color: #104547;
}

.sidenav {
  width: 12.5rem;
}

.recipe-container {
  /* background-color: #E4E3DB; */
}

.recipe-card {
  padding: 0.5rem 2rem;
}

.btn-floating.halfway-fab {
  background-color: #AF929D
}

.card-url {
  color: #3B252C
}

.card-content {
  background-color: #D2D6EF;
}

.card .card-action {
  background-color: #D2D6EF;
}

.chips, .chips.focus {
  border-bottom: 2px solid #AF929D;
  border-right: none;
  color: black;
  box-shadow: none;
}

/* form input styling */
textarea.materialize-textarea,
textarea.materialize-textarea:not(.broswer-default),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #AF929D;
  border-right: none;
  color: black;
  box-shadow: none;
}

textarea.materialize-textarea:focus:not(.broswer-default)+label {
  border-right: none;
  color: #AF929D;
  box-shadow: none;
}

.dropdown-content li>a,
.dropdown-content li>a:not(.broswer-default),
.dropdown-content li>a:focus:not([readonly]),
.dropdown-content li>span,
.dropdown-content li>span:not([readonly]),
.dropdown-content li>span:focus:not([readonly]) {
  color: black;
  /* border-bottom: 2px solid #AF929D; */
}

.select-wrapper input.select-dropdown:focus {
  color: #AF929D;
  border-bottom: 1px solid #AF929D;
}
